<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/produtos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelCats</title>
</head>
<div class="topSection">
    <header id="top">
        <form method="post" action="/homeL">
            <button type="submit"><img src="../img/LogoRosa.png" alt="Gato" class="logo"></button>
            <button type="submit"><img src="../img/TextoLogoRosa.png" alt="PixelCat" class="logo"></button>
        </form>
        <div class="pesquisa">
            <form method="get" action="/pesquisar">
                <input type="text" name="term" id="term">
                <button id="btnPesquisar" type="submit">Pesquisar</button>
            </form>
        </div>
    </header>
    <div id="exit">
        <a href="/carrinho" class="exit"><img src="img/icCartW.png" alt="UserIcon"></a>
        <br><br><br>
        <a href="/sobrenos" class="exit"><img src="img/about.png" alt=""></a>
        <br><br><br>
        <a href="/" class="exit"><img src="img/exit.png" alt=""></a>
    </div>
</div>

</div>
<nav>
    <a href="#" class="tab"><img src="../../../img/icUserW.png" alt="" id="user"></a>
</nav>

</header>

<body>

    <main>


        <h2 class="titulo">Produtos em destaque</h2>
        <% var limit=5; %>
            <% var count=0; %>
                <% result.forEach(function(item) { %>
                    <% if (count < limit) { %>
                        <div class="product">
                            <img id="foto_produto" src="../img/<%= item.imagem_prod %>" alt="Foto do produto">
                            <h3>
                                <%= item.nome_prod %>
                            </h3>
                            <p>Plataforma: <%= item.plataforma_prod %>
                            </p>
                            <% if(item.precoDesconto_prod){ %>
                                <p style="text-decoration: line-through;">R$<%= item.preco_prod%>
                                </p>
                                <h3><strong>R$<%= item.precoDesconto_prod %></strong></h3>
                                <% }else{ %>
                                    <h3>R$<%= item.preco_prod %>
                                    </h3>
                                    <% } %>
                                        </h3>
                                        <form action="/add" method="post">
                                            <input type="hidden" name="id_prod" value="<%= item.id_prod %>">
                                            <input type="hidden" name="nome_prod" value="<%= item.nome_prod %>">
                                            <input type="hidden" name="preco_prod" value="<%= item.preco_prod %>">
                                            <input type="hidden" name="precoDesconto_prod"
                                                value="<%= item.precoDesconto_prod %>">
                                            <input type="hidden" name="plataforma_prod"
                                                value="<%= item.plataforma_prod %>">
                                            <input type="hidden" name="imagem_prod" value="<%= item.imagem_prod %>">
                                            <input type="hidden" name="quantidade_prod" value="1">
                                            <input type="submit" value="Adicionar ao carrinho" name="botao"
                                                class="botao">
                                        </form>
                        </div>
                        <% count++; %>
                            <% } %>
                                <% }) %>

                                    <h2 class="titulo">Adicionados recentemente</h2>

                                    <% result.forEach(function(item) { %>
                                        <div class="product">
                                            <img id="foto_produto" src="../img/<%= item.imagem_prod %>"
                                                alt="Foto do produto">
                                            <h3>
                                                <%= item.nome_prod %>
                                            </h3>
                                            <p>Plataforma: <%= item.plataforma_prod %>
                                            </p>
                                            <% if(item.precoDesconto_prod){ %>
                                                <p style="text-decoration: line-through;">R$<%= item.preco_prod%>
                                                </p>
                                                <h3><strong>R$<%= item.precoDesconto_prod %></strong></h3>
                                                <% }else{ %>
                                                    <h3>R$<%= item.preco_prod %>
                                                    </h3>
                                                    <% } %>
                                                        </h3>
                                                        <form action="/add" method="post">
                                                            <input type="hidden" name="id_prod"
                                                                value="<%= item.id_prod %>">
                                                            <input type="hidden" name="nome_prod"
                                                                value="<%= item.nome_prod %>">
                                                            <input type="hidden" name="preco_prod"
                                                                value="<%= item.preco_prod %>">
                                                            <input type="hidden" name="precoDesconto_prod"
                                                                value="<%= item.precoDesconto_prod %>">
                                                            <input type="hidden" name="plataforma_prod"
                                                                value="<%= item.plataforma_prod %>">
                                                            <input type="hidden" name="imagem_prod"
                                                                value="<%= item.imagem_prod %>">
                                                            <input type="hidden" name="quantidade_prod" value="1">
                                                            <input type="submit" value="Adicionar ao carrinho"
                                                                name="botao" class="botao">
                                                        </form>
                                        </div>
                                        <% }) %>

    </main>

    <div class="admpanel">
        <p>Você está logado como ADMINISTRADOR.</p>
        <a href="/funcionario">Página de Administração</a>
    </div>

</body>

<footer>
    <p>&copy; 2023 PixelCats. Todos os direitos reservados.</p><br>
    <a class="aboutus" href="/sobrenos">Desenvolvedores do projeto </a>
</footer>



<script src="js/produtos.js"></script>

</html>